<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="ServiceStack" version="4.0.54" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.54" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.54" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.54" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.54" targetFramework="net45" />
</packages>